@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primaryColor: #f1e5d9;
  --secondaryColor: #e5b996;
  --tertiaryColor: #f6d8d0;
  --quaternaryColor: #183351;
  --primaryColorTransparent: #f1e5d9e7;
  --whatsappColor: #25d366;
  --headerHeight: 175px;
  --headerHeightMobile: 100px;
  --bodyHeight: 80vh;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #171717;
    --primaryColor: #f1e5d9;
    --secondaryColor: #e5b996;
    --tertiaryColor: #f6d8d0;
    --quaternaryColor: #183351;
    --primaryColorTransparent: #f1e5d9e7;
    --whatsappColor: #25d366;
  }
}

::-moz-selection {
  color: var(--foreground);
  background: var(--primaryColor);
}

::selection {
  color: var(--background);
  background: var(--quaternaryColor);
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

p {
  font-size: large;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--background);
}

::-webkit-scrollbar-thumb {
  background: var(--primaryColor);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--primaryColor);
}

.container_style {
  min-height: var(--bodyHeight);
  width: 100%;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section_style {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section_style > div {
  padding-top: 7.5%;
  padding-bottom: 5%;
  width: 1200px;
}

.section_style > article {
  width: 1200px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  row-gap: 2rem;
}

@media (max-width: 1300px) {
  .section_style > article {
    max-width: 100%;
    padding: 0 5%;
  }
  .section_style > div {
    max-width: 100%;
    padding: 10% 5%;
  }
}

@media (max-width: 800px) {
  .section_style > article {
    max-width: 100%;
    padding: 10% 5% 0 5%;
  }
  .section_style > div {
    max-width: 100%;
    padding: 20% 7.5%;
  }
  p {
    font-size: medium;
  }
}
